{% extends 'store/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'checkout.png' %}" alt="" width="150" height="150">
            <h2>Checkout form</h2>
            <p class="lead">Your checkout form</p>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your Order</span>
                    <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in cart %}
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ item.product.name }}</h6>
                            <small class="text-muted">{{ item.quantity }} x {{ item.product.name }}</small>
                        </div>
                        <span class="text-muted">NGN{{ item.total_price|floatformat:"2" }}</span>
                    </li>
                    {% endfor %}
                    {% if cart.coupon %}
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)</small>
                        </div>
                        <span class="text-success">−NGN {{ cart.get_discount|floatformat:"2" }}</span>
                    </li>
                    {% endif %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (NGN)</span>
                        <strong>{{ cart.get_total_price_after_discount|floatformat:"2" }}</strong>
                    </li>
                </ul>

                <form class="card p-2" method="post" action="{% url 'coupons:apply' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        {% render_field coupon_form.code class+="form-control" placeholder="Use: LUCKY-122" %}
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" method="post" action="." novalidate>
                    {% for field in form %}
                    {{ field.error }}
                    {% endfor %}
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            {% render_field form.first_name class+="form-control" placeholder="First name" %}
                            {% comment %} <input type="text" class="form-control" id="firstName" placeholder="" value="" required> {% endcomment %}
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            {% render_field form.last_name class+="form-control" placeholder="Last Name" %}
                            {% comment %} <input type="text" class="form-control" id="lastName" placeholder="" value="" required> {% endcomment %}
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                                    {% render_field form.email class+="form-control" placeholder="you@mail.com" %}
                            {% comment %} <input type="email" class="form-control" id="email" placeholder="you@example.com"> {% endcomment %}
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            {% render_field form.address class+="form-control"  placeholder="123 Ikeja" %}
                            {% comment %} <input type="text" class="form-control" id="address" placeholder="1234 Main St" required> {% endcomment %}
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select required class="form-select" id="country" name="country" required>
                                <option value="">Choose...</option>
                                <option value="Nigeria"> Nigeria </option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select required class="form-select" id="state" name="city" required>
                                <option value="">Choose...</option>
                                <option value="Lagos">Lagos</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            {% render_field form.postal_code class+="form-control" placeholder="Postal code" %}
                            {% comment %} <input type="text" class="form-control" id="zip" placeholder="" required> {% endcomment %}
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>


                    <hr class="my-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" value="ps" name="paymentMethod" type="radio" class="form-check-input"
                                checked required>
                            <label class="form-check-label" for="credit">Paystack</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" value="bt" name="paymentMethod" type="radio" class="form-check-input"
                                required>
                            <label class="form-check-label" for="debit">Braintree</label>
                        </div>
                    </div>

                    <div class="row gy-3">
                        {% comment %} <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div> {% endcomment %}
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
    </main>

</div>

{% endblock content %}