{% extends "store/base.html" %}
{% load static %}
{% block title %}NilexGlobalSolar{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Nilex Global Solar Store</h1>
        <p class="lead text-muted">
          The best solar appliances you can trust at the lowest prices you can find.
        </p>
        <p>
         Nilex Global Solar Store &rarr; Products {% if category %} &rarr; {{ category.name }}{% endif %}
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">{% if category %}{{ category.name }}{% else %}Products{% endif %}</div>
      <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">
            <img class="img-fluid" alt="Responsive image" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            {% comment %} <img  src="{{ product.image.url }}"> {% endcomment %}
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">NGN {{ product.price }}</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>


</main>

{% endblock %}