{% extends "store/base.html" %}
{% load static %}

{% block title %}Payment canceled{% endblock %}

{% block content %}
<main class="container">
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'error_payment.png' %}" alt="" width="300" height="300">
    <h1 class="display-5 fw-bold">Your payment has not been processed</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">There was a problem processing your payment.</p>
      
    </div>
  </div>
</main>
{% endblock %}
